<IfModule mod_rewrite.c>
    RewriteEngine On
    # Se http://localhost:8080/ (raiz), esta linha é opcional.
    # RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>